# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
#py

#Sonar files
.scannerwork
.scannerwork/*

#Model folder ignore everything except a .dummy file
Model/*
!Model/.dummy

#Upload folder ignore everything except a .dummyfile file
uploads/*
!uploads/.dummyfile

#virtual env file
vector/
venv/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask stuff:
instance/
.webassets-cache

# NodeJS Stuff
**/node_modules

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

#VS_code
.vscode/

#logs file
*.log